.dropdown {
  position: absolute;
  top: 100%;
  right: 0;
  z-index: 2;
  border: none;
  border-radius: 8px;
  min-width: 100%;
  background-color: var(--color-background);
  overflow: auto;
  box-shadow: var(--box-shadow-dropdown);
  height: 200px;
  scrollbar-width: none;
}
.list {
  padding: 8px 0px;
}
.list__item {
  cursor: pointer;
  display: grid;
  grid-template-columns: 1fr min-content;
  padding: 18px 15px;
  align-items: center;
  user-select: none;
}
.list__item:hover {
  background-color: var(--color-base);
}
.list__item-icon {
  display: grid;
  align-items: center;
  visibility: visible;
  & path {
    color: var(--color-icon);
  }
}
