@import url("../components/form.css");
@import url("../components/dropdown.css");
.converter {
  padding: 32px;
  background-color: rgb(255, 255, 255);
  border-radius: 16px;
  box-shadow: rgba(22, 33, 54, 0.05) 0px 1px 8px 0px;
  display: grid;
  gap: 24px;
}

.title {
  font-weight: bold;
}

.change-currency {
  width: 56px;
  height: 56px;
  margin-inline: auto;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  background-color: white;
  border: none;
}

.change-currency svg {
  width: 20px;
  height: 20px;
  transform: rotateZ(90deg);
}

.rotate-svg {
  transform: rotate(180deg);
}